* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.body {
  background-image: url(/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1-container {
  margin: 10%;
  margin-top: -20%;
}

.h1-container h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}

.input-container textarea {
  color: black;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  height: 30px;
  font-size: 18px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
}

.input-container p {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  text-decoration: underline;
}